preparando un cubata.
tirándolo a la piscina.
haciéndole cantar una canción.
retándolo a bailar una coreografía contigo.
pidiéndole que haga 20 flexiones.
logrando que te dé un masaje en los hombros.
invitándolo a un brindis y haciéndole beber un chupito.
convenciéndolo de que te cuente un chiste.
consiguiendo que te prepare un bocadillo.
obligándolo a hacer una imitación graciosa de otro jugador.
persuadiéndolo de que te ayude a hacer la cama.
retándolo a un concurso de miradas sin pestañear.
pidiéndole que te lleve a caballito durante un minuto.
desafiándolo a que baile sobre una mesa.
logrando que te cante una serenata improvisada.
convenciendo a que se ponga un disfraz y haga una escena cómica.
invitándolo a que te haga un dibujo.
logrando que te peine o te haga un peinado loco.
consiguiendo que te cuente su secreto más vergonzoso.
haciendo que te escriba una nota de amor divertida.
retándolo a correr descalzo por el césped.
haciendo que te prepare una bebida caliente.
logrando que te explique una historia inventada.
consiguiendo que te tome una foto en una pose ridícula.
pidiéndole que haga 10 saltos en una pata.
invitándolo a que haga una parodia de su canción favorita.
logrando que te enseñe un truco de magia.
haciendo que te prepare un desayuno sorpresa.
convenciéndolo de que haga una confesión falsa y graciosa.
desafiándolo a escribir un poema corto sobre ti.
